In [9]:
import pandas as pd

In [10]:
# load plugs.csv into the dataframe 
df = pd.read_csv("plugs.csv", delimiter=";")
df['date'] = pd.to_datetime(df.date)
df

,end_time,person_id,start_time,type,date,duration,is_high_level,plausability,provider
0,2015-02-22 00:22:36.228,10136,2015-02-22 00:19:30.711,BoilerOn,2015-02-22,185,0,1,SmartPlug
1,2015-02-22 00:24:06.377,10136,2015-02-22 00:23:32.685,BoilerOn,2015-02-22,33,0,1,SmartPlug
2,2015-03-04 21:12:52.151,10136,2015-03-04 21:05:06.447,CookerOn,2015-03-04,465,0,1,SmartPlug
3,2015-03-04 21:23:40.550,10136,2015-03-04 21:19:17.268,CookerOn,2015-03-04,263,0,1,SmartPlug
4,2015-03-04 21:25:12.996,10136,2015-03-04 21:23:52.928,CookerOn,2015-03-04,80,0,1,SmartPlug
...,...,...,...,...,...,...,...,...,...
2525,2015-07-10 13:17:57.404,10136,2015-07-10 12:55:19.889,WashingMachineOn,2015-07-10,1357,0,1,SmartPlug
2526,2015-07-10 18:17:27.245,10136,2015-07-10 18:11:56.152,CookerOn,2015-07-10,331,0,1,SmartPlug
2527,2015-07-10 18:49:56.856,10136,2015-07-10 18:47:33.380,WashingMachineOn,2015-07-10,143,0,1,SmartPlug
2528,2015-07-10 19:01:41.305,10136,2015-07-10 18:59:06.677,WashingMachineOn,2015-07-10,154,0,1,SmartPlug
2529,2015-07-10 19:06:17.578,10136,2015-07-10 18:58:00.502,TvOn,2015-07-10,497,0,1,SmartPlug

In [11]:
# count number of 'types' for a particular date
df["type"].value_counts()

type
TvOn                1277
BoilerOn             660
CookerOn             514
WashingMachineOn      59
VacuumOn              18
IronOn                 2
Name: count, dtype: int64

In [16]:
# calculate the average 'duration' of each 'type' grouped by 'date'
df.groupby(
    ['type','date']
)['duration'].mean().reset_index(name='Average Activity Type by date')

                 type       date  Average Activity Type
0            BoilerOn 2015-02-22             109.000000
1            BoilerOn 2015-03-04              88.333333
2            BoilerOn 2015-03-05              71.833333
3            BoilerOn 2015-03-06              69.000000
4            BoilerOn 2015-03-07              61.357143
..                ...        ...                    ...
319  WashingMachineOn 2015-05-24             433.000000
320  WashingMachineOn 2015-05-31             171.500000
321  WashingMachineOn 2015-06-28              95.857143
322  WashingMachineOn 2015-07-04             259.142857
323  WashingMachineOn 2015-07-10             423.666667

[324 rows x 3 columns]

In [18]:
df.groupby(
    ['type']
)['duration'].mean().reset_index(name='Average Activity Type overall')

               type  Average Activity Type overall
0          BoilerOn                      56.995455
1          CookerOn                     147.272374
2            IronOn                      17.000000
3              TvOn                    1171.293657
4          VacuumOn                     735.388889
5  WashingMachineOn                     343.305085